* {
  margin: 0px;
  padding: 0px;
  font-family: Monospace;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ratings-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratings-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.ratings-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ratings-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.special-ratings-box {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background: linear-gradient(45deg, purple, green);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.special-ratings-box:hover {
  background: linear-gradient(45deg, green, purple);
}

.ratings-box {
  width: 500px;
  box-shadow: 2px 2px 30px grey;
  background: linear-gradient(45deg, purple, yellow);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.ratings-box:hover {
  box-shadow: 2px 2px 30px black;
  border-radius: 10px;
  background: linear-gradient(0deg, yellow, purple);
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-shadow: 2px 1px 2px black;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sup-comment {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.special-comment {
  font-size: 0.9rem;
  color: black;
  font-style: italic;
}

i {
  color: lightgreen;
}

i:hover {
  color: lightseagreen;
}

.headings {
  position: relative;
  font-weight: 200;
  font-size: 2.1em;
}

.headings .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.headings .letters {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}